nav {
    position: fixed;
    background-color: var(--accent-background-color);
    width: 5rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto min-content;
    gap: 0px 0px;
    grid-template-areas: "nav_top_buttons" "nav_bottom_buttons";
    transition: width 0.25s cubic-bezier(.75, .33, .25, .66);
    padding: 0.5rem;
}

nav * {
    color: var(--accent-color);
    text-decoration: none;
}

.nav-link {
    display: grid;
    grid-template-columns: 5rem min-content;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "navbar_icon navbar_text";
}

.nav-link:hover {
    background-color: var(--background-color);
    border-radius: 0.5rem;
    transition: background-color 0.25s;
}

.navbar_text {
    grid-area: navbar_text;
    display: grid;
    place-items: center;
}

.navbar_icon {
    grid-area: navbar_icon;
}

.nav_top_buttons {
    grid-area: nav_top_buttons;
}

.nav_bottom_buttons {
    grid-area: nav_bottom_buttons;
}

nav i {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

nav span {
    display: none;
    font-size: 2rem;
}

nav:hover span {
    display: inline-block;
}

nav:hover {
    width: 15rem;
}